.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  /* border: 1px solid white; */
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  padding: 2%;
  /* border: 1px solid white; */
}

.allInfo {
  /* border: 1px solid white; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
  justify-content: space-evenly;
}

.memberCards {
  border-radius: 15px;
  box-shadow: 0 0 20px 4px darkslategray;
  color: #09d3ac;
  padding: 2%;
  margin: 4%;
  width: 30%;
}

.memberCards h1 {
  font-size: 2rem;
}

.memberCards h4 {
  font-size: 1.4rem;
}

.memberCards p {
  font-size: 1rem;
}